body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 10vw;
  margin-top: 30px;
}

.row {
  display: flex;
}


.artContainer {
  display: flex;
  flex-direction: column;
  margin: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

.artRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
