@font-face {
  font-family: "gar";
  src: url("./CormorantGaramond-Regular.ttf")
}

body {
  font-family: "gar";
}

a {
  text-decoration: none;
}

label {
  display: block;
}

a {
  margin: 5px;
  font-family: "gar";
  color: black;
}


form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 10vw;
  margin-top: 30px;
}

.row {
  display: flex;
}


.artContainer {
  display: flex;
  flex-direction: column;
  margin: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

.artRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page {
  background-image: url("./nicole\ pan.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position:left;
  position: fixed;
  overflow: hidden;
}
